.header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #D9D9D9;
}
.logo, .languages{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;

}

.logo{
    width: 218.86px;
    height: 44.08px;
    top: 17px;
    left: 105px;
    gap: 0px;
    opacity: 0px;
}

.logo img{
    width: 180px;
    top: 17px;
    margin-left: auto;
    gap: 0px;
    opacity: 0px;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 65px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color:white;
    margin-left: auto;
    margin-top: 4%;
}
/* .slika{
    margin-top: 10%;
} */

.container{
    img{
        margin-top: 10%;
        margin-bottom: 25%;
    }
    .tekst{
        margin-top: -1200px;
        margin-left: 800px;
        padding-left: 20px;
        padding-top: 20%;
        float: left;

    }

    .podnaslov{
        margin-top: -1100px;
        margin-left: 800px;
        padding-left: 20px;
        padding-top: 20%;
        float: left;
    }
    .opis{
        margin-top: -1000px;
        margin-left: 800px;
        padding-left: 20px;
        padding-top: 20%;
        float: left;
    }
    .button1 {
        margin-top: -800px;
        margin-left: 800px;
        padding-left: 20px;
        padding-top: 20%;
        float: left;
    }
}

.container2{
    .velikaslika{
        img{
            margin-top: -22%;
            margin-bottom: 10%;
            width: 1500px;
            
        }
    }
    .tekstnaslici{
        margin-top: -800px;
        margin-left: 600px;
        padding-left: 20px;
        padding-top: 20%;
    }
}


